.env
.env.local
.env.*.local

.idea/
**/.idea/
.vscode/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

node_modules/
dist/
*.tsbuildinfo

.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.iml
mobile/app/build/

*.log
.DS_Store
